# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Python bytecode files
__pycache__

# Ignore Python virtual environment directories
gradbuild

Dockerfile